{% load static %} 
{% load bootstrap5 %} 
{% bootstrap_css %} 
{% bootstrap_javascript %} 
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>{% block titulo %}{% endblock %}</title>
    <script type="text/javascript" src="https://cdnjs.com/libraries/bootstrap-datetimepicker/4.17.37"></script>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary"
        style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Gestor</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'index' %}">Início</a>
                <a class="nav-link" href="{% url 'pedido_list' %}">Histório de Pedidos</a>
                <a class="nav-link" href="{% url 'importar_pedidos' %}">Importar Dados</a>  
                <a class="nav-link" href="{% url 'pedido_create' %}" >Cadastrar Pedidos</a>
            </div>
          </div>
        </div>
      </nav>

      <center>
        <br />
        <h1> {% block subtitulo %}{% endblock %} </h1>  
      </center>

    <center>
      <br />
      {% block corpo %}{% endblock %}
    </center>
  </body>

  <center>
    <br />
    <hr />
    <h3>{% block rodape %}{% endblock %}</h3>
    <h4>
      <img
        src="{% static 'direito-autoral.png' %}"
        class="img-fluid"
        alt="Teste"
        width="2%"
      />
      Direitos autorais do desenvolvedor Maycon Spirlandelli
    </h4>
  </center>
</html>
