{% extends 'base.html' %}
{% block titulo %} Importação de Pedido {% endblock %}
{% block subtitulo %} Importação de Pedido {% endblock %}
{% block corpo %}

    <div class="container mt-5">
      {% if erro %}
        <div class="alert alert-danger">{{ erro }}</div>
      {% endif %}
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
    {% endblock %}

    {% block rodape %} 
    {% endblock %}